html
	head
		meta(charset="utf-8")
		block title
			title
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")

	body

		#hidden

			img#transparent(src="textures/transparent.png")

			input(type="file" accept="model/gltf-binary")

		.coverings

			canvas

			.coverings-plan

			.coverings-actions

				#upload_model_button.coverings-actions-switch Upload model
				#add_wall_mode_button.coverings-actions-switch Add wall
				#mode_toggle_BUTTON.coverings-actions-switch Plan mode
				#mode_selection_BUTTON.coverings-actions-switch Tile mode

			.coverings-materials

			.coverings-selection.-hidden

		.modal

			.modal-inner

				.coverings-actions.-modal

					input.coverings-actions-input(value="2.5 m")
					input.coverings-actions-input(value="4 m")
					input.coverings-actions-input(value="2.5 m")
					#apply_sizes_BUTTON.coverings-actions-form_submit Apply
