html
	head
		meta(charset="utf-8")
		block title
			title
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")

	body

		#hidden

			img#tile_texture1(src="textures/tile_texture1.jpg")
			img#tile_texture2(src="textures/tile_texture2.jpg")
			input(type="file" accept="model/gltf-binary")

		.coverings

			canvas

			.coverings-plan

			.coverings-actions

				#upload_model_button.coverings-actions-switch Upload model
				#add_wall_mode_button.coverings-actions-switch Add wall
				#mode_toggle_BUTTON.coverings-actions-switch Plan mode
