html
	head
		meta(charset="utf-8")
		block title
			title
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")

	body

		#hidden

			img#transparent(src="textures/transparent.png")

			input(type="file" accept="model/gltf-binary")
			input(type="file" accept="application/json")

		.coverings

			canvas

			.coverings-plan

			.coverings-actions

				#load_button.coverings-actions-switch Load
				#upload_model_button.coverings-actions-switch Upload model
				#add_wall_mode_button.coverings-actions-switch Add wall
				#mode_toggle_BUTTON.coverings-actions-switch Plan mode
				#mode_selection_BUTTON.coverings-actions-switch(style="display: none;") Tile mode
				#apply_segment_BUTTON.coverings-actions-switch(style="display: none;") Apply segment

			.coverings-materials

			.coverings-selection.-hidden

		.modal

			.modal-inner

				#room_picker_MODAL.coverings-actions.-modal

					#pick_kitchen_BUTTON.coverings-actions-form_submit Kitchen
					#pick_bathroom_BUTTON.coverings-actions-form_submit Bathroom
					#pick_manual_input_BUTTON.coverings-actions-form_submit Manual input

				#manual_input_MODAL.coverings-actions.-modal(style="display: none;")

					#back_BUTTON.coverings-actions-form_submit Back
					input.coverings-actions-input(value="2.5 m")
					input.coverings-actions-input(value="4 m")
					input.coverings-actions-input(value="2.5 m")
					#apply_sizes_BUTTON.coverings-actions-form_submit Apply
