html
	head
		meta(charset="utf-8")
		block title
			title
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")

	body

		#textures

			img#tile1(src="textures/tile1.jpg")
			img#tile2(src="textures/tile2.jpg")

		.coverings

			canvas

			.coverings-plan

			.coverings-actions

				#add_wall_mode_button.coverings-actions-switch Add wall
				#orbit_mode_button.coverings-actions-switch Switch to orbit mode
