html
	head
		meta(charset="utf-8")
		block title
			title
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		link(rel="stylesheet", href="index.css")

	body
		div#textures(style="display: none;")
			img#tile(src="textures/tile.jpg")
		.coverings
			.coverings-canvas
				canvas
			.coverings-actions
				#add_wall_mode_button.coverings-actions-switch Add wall
		script(type="text/javascript", src="index.js")
